# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
    <ul>
        <li>List popular languages that Data Scientists use.</li>
        <li>List most common used libraries used by Data Scientists.</li>
        <li>Few examples for some arithmetic expressions in Python.</li>
    </ul>

Some of the popular languages that Data Scientists use are:
    <ol>
      <li>Python</li>
      <li>R</li>
        <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow</li>
    <li>Pandas</li>
    <li>Keras</li>
</ol>

Data Science Tools:

<table>
    <tr>
        <th>Data Science Tools</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Apache Spark</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>BigML</td>
        <td></td>
        <td></td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [25]:
#This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

# Result: 17

17

In [31]:
#This will convert 200 minutes to hours by diving by 60
hours = 0
mins = 0
giventime = 200
left_min = giventime % 1440
hours = left_min / 60
print(str(hours))

3.3333333333333335

<h2>Author:</h2> Ejal de Klerk